body {
  margin: 0;
  padding-top: 80px;
  font-family: 'Segoe UI', sans-serif;
  background: #0f0f0f;
  color: #ddd;
}

/*Barba Page Transition*/
.page-transition {
  position: fixed;
  inset: 0;
  background: #111;
  transform: scaleY(0);
  transform-origin: top;
  z-index: 9999;
  pointer-events: none;
}

/* Navbar */
.glass-nav {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  padding: 12px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.logo span {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.logo strong {
  color: #E63946;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
  color: #E63946;
}


/* Hero */
.home-hero {
  height: 100vh;
  background: url("../images/hero.jpg") center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-hero .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.65);
}

.home-hero .content {
  position: relative;
  z-index: 2;
}

/* Sections */
.section {
  padding: 80px 0;
}

/* Glass Card */
.glass-card {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(25px);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.3);
  box-shadow: 0 15px 40px rgba(0,0,0,0.4);
  transition: transform 0.3s ease;
}

.glass-card:hover {
  transform: translateY(-10px);
}

/* Animations */
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1s forwards;
}

.delay-1 {
  animation-delay: 0.5s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Reveal */
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Footer */
footer {
  background: #000;
}

/* Mobile */
@media (max-width: 768px) {
  .home-hero h1 {
    font-size: 2.2rem;
  }
}
